@import "bootstrap";
@import "fontAweasome";
@import "fonts";
@import "variables";

@import "menu";
@import "totop";

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: $fontRegular;
  font-size: $default-font-size;
}

ul {
  margin-bottom: 0;
}

@import "mediaqueries";