@import "bootstrap";
@import "fontAweasome";
@import "fonts";
@import "variables";

@import "swiper";
@import "animate";
@import "buttons";
@import "share";

@import "logo";
@import "menu";
@import "header";
@import "header-inner";
@import "slider";
@import "slider-inner";
@import "catalog-main";
@import "catalog-inner";
@import "content";
@import "product";
@import "table-uhod-nogti";
@import "about-main";
@import "product-new-main";
@import "our-partners";
@import "footer";


@import "totop";

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: $fontRegular;
  font-size: $default-font-size;
  color: #4d4d4f;
}

ul {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}

@import "mediaqueries";