@import "bootstrap";
@import "fontAweasome";
@import "fonts";
@import "variables";

@import "swiper";
@import "animate";
@import "buttons";

@import "logo";
@import "menu";
@import "header";
@import "slider";
@import "catalog-main";


@import "totop";

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}
body {
  font-family: $fontRegular;
  font-size: $default-font-size;
}

ul {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}

@import "mediaqueries";